<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">

<body>

<div layout:fragment="content" class="w-10/12 flex flex-col gap-6">
    <!-- Barre de recherche -->
    <div th:replace="fragments/search :: div"></div>

    <!-- Grid de cartes -->
    <div id="articlesContainer"
     class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">

    <div th:each="article : ${articles}"
         th:replace="fragments/cardArticle :: cardArticle(article=${article})">
    </div>

</div>
    <script th:src="@{/js/enchere.js}" defer></script>
</div>
</body>
</html>