<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<body>
<div layout:fragment="content" class="w-4/5 flex justify-center  text-white">
    <div class="w-11/12 mb-12">

        <!-- 🔲 TOP SECTION -->
        <div class="flex flex-col md:flex-row gap-10">

            <!-- 🖼️ IMAGE -->
            <div class="md:w-[50%] flex flex-col gap-8">
                <div class="rounded-xl overflow-hidden shadow-xl border border-card-image">
                    <img th:src="@{/images/{imageName}(imageName=${article.image})}"
                         alt="Image du produit"
                         class="w-full h-[350px] object-cover"/>
                </div>
                <!-- 📊 HISTORIQUE ENCHÈRES -->
                <div class="">
                    <h2 class="text-xl font-bold mb-4">Historique des enchères</h2>
                    <div class="flex flex-col gap-3 max-h-[340px] overflow-y-auto  pr-3" th:if="${encheres}">
                        <div th:each="enchere, iterStat : ${encheres}"
                             th:classappend="${iterStat.first} ? 'bg-green-900 border-green-500' : 'bg-[#0f0f3d] border-gray-700'"
                             class="flex justify-between items-center p-3 rounded-lg border">
                            <span class="font-medium" th:text="${enchere.utilisateur.pseudo}"></span>
                            <span th:text="${#temporals.format(enchere.dateEnchere, 'dd/MM/yyyy à HH:mm:ss')}"></span>
                            <span class="text-accent font-bold" th:text="${enchere.montantEnchere} + ' €'"></span>
                        </div>
                    </div>
                    <div class="flex flex-col gap-3 max-h-[340px] overflow-y-auto  pr-3" th:if="${encheres.isEmpty()}">
                        <div class="bg-[#0f0f3d] border-red-700 flex justify-between items-center p-3 rounded-lg border text-gray-200">
                            Aucune enchère n'a été effectuée.
                        </div>
                    </div>
                </div>
            </div>

            <!-- 💰 INFOS + ENCHÈRE -->
            <div class="md:w-[50%] flex flex-col gap-6">
                <div class="flex flex-col gap-2">
                    <h1 class="text-3xl font-bold text-main" th:text="${article.description}"></h1>
                    <div class="flex gap-2 mt-1 flex-wrap">
            <span th:each="categorie : ${article.categories}"
                  class="px-2 py-1 bg-blue-600 rounded text-sm"
                  th:text="${categorie.libelle}"></span>
                    </div>
                </div>

                <!-- 🔹 Informations vendeur -->
                <div class="bg-card-principal rounded-xl shadow-lg border border-card-principal p-4 flex flex-col gap-3">
                    <div class="flex flex-col gap-1">
                        <span class="text-sm text-gray-300 text-muted">Vendu par :</span>
                        <span class="font-semibold text-lg" th:text="${article.utilisateurs.pseudo}"></span>
                    </div>
                    <div class="flex flex-col gap-1">
                        <span class="text-sm text-gray-300  text-muted">Adresse de livraison :</span>
                        <span th:text="${article.adresseProprietaire.rue + ', ' + article.adresseProprietaire.codePostal + ', ' + article.adresseProprietaire.ville}"></span>
                    </div>
                </div>
                <!-- Bloc info vendeur + prix + timer -->
                <div class="flex-1 max-h-[380px] gap-2 relative flex-col bg-card-principal pt-5 px-5 pb-3 rounded-xl shadow-lg border border-card-principal">
                    <!-- Prix -->
                    <div class="flex justify-around items-center mb-4 border-dashed border-dash-color">
                        <!-- Prix initial -->
                        <div class="flex flex-col items-center justify-center w-1/2 border-r border-dashed border-dash-color pr-4">
                            <p class="text-sm text-muted">Prix initial</p>
                            <p class="text-3xl font-bold text-gray-400" th:text="${article.prixInitial} + ' €'"></p>
                        </div>

                        <!-- Prix actuel -->
                        <div class="flex flex-col items-center justify-center w-1/2 pl-4">
                            <p class="text-sm text-muted">Prix
                                <span th:if="${article.dateFin.isBefore(T(java.time.LocalDateTime).now())}">Final</span>
                                <span th:if="${T(java.time.LocalDateTime).now().isBefore(article.dateFin)}">Actuel</span>
                            </p>
                            <p class="text-4xl font-bold text-accent price-color animate-pulse-on-change"
                               th:text="${article.prixVente} + ' €'"></p>
                        </div>
                    </div>
                    <!-- Timer -->
                    <div th:if="${T(java.time.LocalDateTime).now().isBefore(article.dateFin)}"
                         class="flex flex-col gap-6 justify-center items-center border-t border-dashed border-dash-color pt-6 ">
                        <p th:if="${T(java.time.LocalDateTime).now().isBefore(article.dateFin) && article.dateDebut.isBefore(T(java.time.LocalDateTime).now())}"
                           class="text-muted">Temps restant avant la fin de l'enchère :</p>
                        <p th:if="${T(java.time.LocalDateTime).now().isBefore(article.dateDebut)}" class="text-muted">
                            Début de l'enchère dans:</p>
                        <p class="timer text-2xl font-semibold hour-color" id="timer"
                           th:data-timer="${#temporals.format(article.dateFin, 'yyyy-MM-dd''T''HH:mm:ss')}">
                            <span class="skeleton w-[160px] h-[32px] rounded bg-gray-300 animate-pulse"></span>
                        </p>
                    </div>
                    <div th:if="${article.dateFin.isBefore(T(java.time.LocalDateTime).now())}"
                         class="flex flex-col gap-4 justify-center items-center border-t border-dashed border-dash-color pt-6 mb-6">

                        <p class="text-red-600 text-2xl font-semibold">La vente est terminée</p>

                        <div class="flex flex-col gap-2 bg-[#0f0f3d] border border-gray-700 rounded-lg p-4 w-full max-w-md">
                            <p class="text-white text-lg">
                                <span class="font-bold">Gagnant :</span>
                                <span th:text="${encheres[0].utilisateur.pseudo}">Pseudo</span>
                            </p>
                            <p class="text-white text-lg">
                                <span class="font-bold">Montant :</span>
                                <span th:text="${encheres[0].montantEnchere} + ' €'">0 €</span>
                            </p>
                            <p class="text-white text-lg">
                                <span class="font-bold">Date de l'enchère :</span>
                                <span th:text="${#temporals.format(encheres[0].dateEnchere, 'dd/MM/yyyy à HH:mm:ss')}">01/01/2026 12:00:00</span>
                            </p>
                        </div>
                    </div>
                    <div th:if="${user.id == article.utilisateurs.id && T(java.time.LocalDateTime).now().isBefore(article.dateDebut)}"
                         class="flex flex-col gap-4 justify-center items-center mb-6 pt-6 ">
                        <input id="montantEnchereHidden" type="number"
                               th:min="${article.prixVente + 1}" class="hidden"/>
                        <a th:href="@{/modify-article/{id}(id=${article.id})}" class="  bg-btn text-white font-semibold py-2 px-6 rounded-md transition-colors shadow-md transform hover:bg-btn
                                                                disabled:bg-gray-500 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-gray-500">
                            Modifier la vente</a>
                    </div>
                    <!-- Formulaire enchère -->
                    <div th:if="${user.id != article.utilisateurs.id && T(java.time.LocalDateTime).now().isBefore(article.dateFin)}"
                         class=" w-full relative -bottom-10 left-0  flex-col items-center justify-center rounded-lg p-4 bg-card-dark border border-card-principal">
                        <form th:action="@{'/add-enchere/' + ${article.id}}" th:object="${enchereForm}" method="post"
                              class="w-full flex flex-col gap-3">

                            <!-- Champs cachés nécessaires pour le DTO -->
                            <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
                            <input type="hidden" th:field="*{article.id}" th:value="${article.id}"/>
                            <input type="hidden" th:field="*{utilisateur.id}" th:value="${user.id}"/>

                            <!-- Champ montant enchère visible -->
                            <label class="text-sm text-muted" for="montantEnchere">
                                Votre enchère (min : <span th:text="${article.prixVente + 1} + ' €'"></span>)
                            </label>
                            <input id="montantEnchere" type="number"
                                   name="montantEnchere"
                                   value=""
                                   th:min="${article.prixVente + 1}"
                                   th:placeholder="'Enchère minimum : ' + ${article.prixVente + 1} + ' €'"
                                   th:disabled="${user.credit < article.prixVente}"
                                   required
                                   class="w-full px-4 py-2.5 rounded-xl bg-[#101046]/80 text-white border border-white/20
                  focus:outline-none focus:ring-2 focus:ring-[#4934d3] focus:border-[#4934d3] transition duration-200"/>
                            <!-- Message crédit insuffisant -->
                            <div th:if="${user.credit < article.prixVente}" class="text-xs text-red-400 font-semibold">
                                Vous n’avez pas assez de crédits pour enchérir sur ce produit.
                            </div>
                            <div id="indicationMessage" class="hidden text-xs text-red-400 font-semibold"></div>

                            <!-- Bouton -->
                            <button type="submit" id="submitBtn"
                                    class="cursor-pointer bg-btn px-6 py-3 rounded-lg shadow-lg font-semibold transition duration-300
                   disabled:opacity-50 disabled:cursor-not-allowed"
                                    th:disabled="${user.credit < article.prixVente}">
                                Enchérir
                            </button>
                        </form>


                        <!-- Feedback -->
                        <div th:if="${error}" class="text-red-400 font-semibold mt-2">
                            <p th:text="${error}"></p>
                        </div>
                        <div th:if="${success}" class="text-green-400 font-semibold mt-2">
                            <p th:text="${success}"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <script th:src="@{/js/enchere.js}" defer></script>
</div>
</body>
</html>