<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<body>

<div layout:fragment="content"
     class="w-11/12 max-w-lg mx-auto mt-12 p-8 bg-card-dark border border-card-principal rounded-2xl shadow-lg">

    <!-- Titre -->
    <h2 class="text-3xl font-bold text-white mb-8 text-center">
        Créer un compte
    </h2>

    <!-- Message d'erreur -->
    <div th:if="${error}" class="text-red-500 text-sm mb-6 text-center">
        <span th:text="${error}"></span>
    </div>

    <!-- Formulaire -->
    <form method="POST" th:action="@{/process-register-test}" class="space-y-6">

        <!-- CSRF -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <!-- Juste un bouton pour tester -->
        <button type="submit"
                class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 rounded-lg transition-colors duration-200">
            S'inscrire
        </button>
    </form>
</div>
</body>
</html>