<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<body>
<div layout:fragment="content"
     class="w-10/12 h-auto max-w-md
            bg-card-dark
            border border-card-principal
            p-8 mt-9 rounded-xl
            shadow-[0_05px_30px_rgba(0,0,0,0.9)]">

    <!-- Titre -->
    <h2 class="text-2xl font-bold text-white mb-6 text-center drop-shadow">Profil de <span th:text="${user.pseudo}"></span></h2>
</div>
</body>
</html>