<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<div layout:fragment="content"
     class="flex gap-12 w-8/12 justify-center items-start mt-9">

    <!-- Photo de l'utilisateur 1ER block -->

    <div class="w-[40%] flex justify-center flex-col items-center bg-card-dark border border-card-principal p-8 rounded-xl shadow-[0_5px_30px_rgba(0,0,0,0.9)]">
        </a>
        <div class="w-20 h-20 flex items-center justify-center
                        rounded-full bg-[#03d6f9] text-2xl font-bold">
                <span class="text-[#4934d3]"
                      th:text="${#authentication.principal.username.substring(0,1).toUpperCase()}">
                </span>
        </div>

        <p class="text-white mt-4 font-semibold"
           th:text="${user.pseudo}">
        </p>
        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="mt-4">
            <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Se déconnecter
            </button>
        </form>
    </div>


    <!-- ================= Pofil ============ -->

    <div class="w-[60%] flex flex-col gap-2">
        <div class="w-full bg-card-dark border border-card-principal p-8 rounded-xl shadow-[0_5px_30px_rgba(0,0,0,0.9)]">
            <!-- Titre -->
            <h2 class="text-2xl font-bold text-white mb-6 text-center drop-shadow">
                Profil de <span th:text="${user.pseudo}"></span>
            </h2>
            <form method="POST" th:action="@{/process-update}" th:object="${user}" class="space-y-6">
                <!-- Informations de l'utilisateur -->
                <!-- Nom-->
                <div class="flex items-center">
                    <label for="nom" class="w-20 text-sm font-medium text-gray-700">
                        <strong>Nom :</strong>
                    </label>

                    <input id="nom" type="text" th:field="*{nom}"
                           class="w-64 rounded-md border border-gray-300 px-2 py-1 text-sm shadow-sm focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none text-black">
                </div>
                <!-- Prenom -->
                <div class="flex items-center">
                    <label for="prenom" class="w-20 text-sm font-medium text-gray-700">
                        <strong>Prénom :</strong>
                    </label>

                    <input id="prenom" type="text" th:field="*{prenom}"
                           class="w-64 rounded-md border border-gray-300 px-2 py-1 text-sm shadow-sm focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none text-black">
                </div>
                <!-- Pseudo -->
                <div class="flex items-center">
                    <label for="pseudo" class="w-20 text-sm font-medium text-gray-700">
                        <strong>Pseudo :</strong>
                    </label>

                    <input id="pseudo" type="text" th:field="*{pseudo}"
                           class="w-64 rounded-md border border-gray-300 px-2 py-1 text-sm shadow-sm focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none text-black">
                </div>
                <!-- Email -->
                <div class="flex items-center">
                    <label for="email" class="w-20 text-sm font-medium text-gray-700">
                        <strong>E-mail :</strong>
                    </label>

                    <input id="email" type="email" th:field="*{email}"
                           class="w-64 rounded-md border border-gray-300 px-2 py-1 text-sm shadow-sm focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none text-black">
                </div>
                <!-- Bouton de validation -->
                <div class="flex items-center">
                    <button type="submit"
                            class="w-full mt-4 bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg shadow transition duration-200">
                        Enregistrer les modifications
                    </button>
                </div>
            </form>
            </form>
        </div>
        <!-- Adresse de l'utilisateur -->
        <div class="w-full bg-card-dark border border-card-principal p-8 rounded-xl shadow-[0_5px_30px_rgba(0,0,0,0.9)]">
            <h2 class="text-2xl font-bold text-white mb-6 text-center drop-shadow">Adresse</h2>
            <form method="POST" th:action="@{/process-update}" th:object="${user}" class="space-y-6">
                <div class="flex items-center">
                    <!-- Rue -->
                    <label for="rue" class="w-20 text-sm font-medium text-gray-700">
                        <strong>Rue :</strong>
                    </label>

                    <input id="rue" type="text" th:field="*{adresse.rue}"
                           class="w-64 rounded-md border border-gray-300 px-2 py-1 text-sm shadow-sm focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none text-black">
                </div>
                <!-- Ville -->
                <div class="flex items-center">
                    <label for="ville" class="w-20 text-sm font-medium text-gray-700">
                        <strong>Ville :</strong>
                    </label>

                    <input id="ville" type="text" th:field="*{adresse.ville}"
                           class="w-64 rounded-md border border-gray-300 px-2 py-1 text-sm shadow-sm focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none text-black">
                </div>
                <!-- Code Postal -->
                <div class="flex items-center">
                    <label for="codepostal" class="w-20 text-sm font-medium text-gray-700">
                        <strong>Code Postal :</strong>
                    </label>
                    <input id="codepostal" type="text" th:field="*{adresse.codePostal}"
                           class="w-64 rounded-md border border-gray-300 px-2 py-1 text-sm shadow-sm focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none text-black">
                </div>
                <!-- Bouton de validation -->
                <div class="flex items-center">
                    <button type="submit"
                            class="w-full mt-4 bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg shadow transition duration-200">
                        Enregistrer les modifications
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>