<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Projet</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="bg-main text-white flex flex-col min-h-screen">

<!-- HEADER -->
<header class="h-[75px] fixed top-0 left-0 w-full z-50 bg-header  shadow-[0_2px_4px_0_rgba(55,105,150,0.25)]">
    <nav class="w-10/12 mx-auto px-6 py-4 flex justify-between items-center">
        <div class="flex gap-1 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="50" height="50">
                <!-- Cube -->
                <polygon points="16,20 32,12 48,20 32,28" fill="#4934d3"/>
                <polygon points="16,20 16,40 32,48 32,28" fill="#03d6f9"/>
                <polygon points="32,28 32,48 48,40 48,20" fill="#fa8fc1"/>

                <!-- Flèche -->
                <polygon points="32,6 36,14 28,14" fill="#03d6f9"/>
            </svg>

            <a href="/accueil" class="text-xl font-bold price-color">BuyMyStuff</a>
        </div>
        <div class="flex gap-6 items-center">
            <a href="/accueil" class="hover:text-[#4934d3] transition">Accueil</a>
            <a href="#" class="hover:text-[#4934d3] transition">Mes annonces</a>

            <a sec:authorize="isAnonymous()" href="/login" class="bg-btn  px-4 py-2 rounded-lg transition">
                Login</a>

            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <button type="submit"
                        class="bg-btn px-4 py-2 rounded-lg transition">
                    Se déconnecter
                </button>
            </form>

        </div>
    </nav>
</header>

<!-- MAIN -->
<main class="flex-1 mt-[95px] w-full flex justify-center">
    <div layout:fragment="content"></div>
</main>

<!-- FOOTER -->
<footer class="  text-center py-4 mt-10">
    <p class="font-bold price-color text-sm">© 2026 - BuyMyStuff</p>
</footer>

</body>
</html>