<div th:fragment="modalEnchere"
     id="modalEnchere"
     class="hidden fixed inset-0 z-50 flex items-center justify-center
              bg-black/60 backdrop-blur-sm transition duration-300 cursor-pointer">

    <!-- CONTENU MODALE -->
    <div class="z-60 relative w-full max-w-md mx-4
                bg-[#000036]/95 backdrop-blur-xl
                border border-white/20
                rounded-2xl shadow-2xl
                p-6 animate-fadeIn cursor-default">
        <!-- ❌ CROIX FERMETURE -->
        <button type="button"
                id="closeModal"
                class="absolute top-2 right-3 text-white/70 hover:text-white text-xl transition">
            ✕
        </button>

        <!-- 🏷️ TITRE -->
        <h2 class="text-lg font-semibold text-white mb-6">
            Enchérir sur :
            <span id="articleTitle" class="ml-1 text-[#a78bfa]"></span>
        </h2>

        <form class="w-full flex flex-col gap-8">

            <!-- hidden -->
            <input type="hidden" name="articleId" id="articleId"/>

            <!-- input -->
            <div class="flex flex-col gap-1">
                <p class="text-sm text-gray-400" id="prixMin"></p>
                <input id="montantEnchere" type="number"
                       name="montantEnchere"
                       required
                       placeholder="Votre enchère..."
                       class="w-full px-4 py-3 rounded-xl bg-[#101046]/80 text-white
                      border border-white/20
                      focus:outline-none focus:ring-2 focus:ring-[#4934d3]"/>
            </div>
            <!-- bouton -->
            <button type="submit" id="submitBtn"
                    class="cursor-pointer bg-[#4934d3] hover:bg-[#3b27a8]
                       px-6 py-3 rounded-xl font-semibold text-white
                       shadow-lg transition duration-200
                       disabled:opacity-50 disabled:cursor-not-allowed">
                Enchérir
            </button>
        </form>

        <!-- feedback -->
        <div th:if="${error}" class="text-red-400 font-semibold mt-3">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${success}" class="text-green-400 font-semibold mt-3">
            <p th:text="${success}"></p>
        </div>

    </div>
</div>