/* BACKGROUNDS */
.bg-header { background-color: #000036; }
.bg-main { background-color: #101046; }
.bg-card { background-color: #376996; }
.bg-card-dark { background-color: #1f487e; }

.border-card-principal{
    border-color:  #35348c;
}
.border-card-image{
    border: 1px solid #9276d7;
}

.border-dash-color{
    border-color: #4934d3;
}
.price-color{
    color : #03d6f9;
}
.hour-color{
    color : #fa8fc1;
}

.bg-btn{
    background-color: #4934d3;
}