<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">

<body>

<div layout:fragment="content"
     class="flex gap-8 w-8/12 justify-center items-start mt-9">

    <div class="w-[50%] bg-card-dark border border-card-principal p-8 rounded-xl ">

        <h2 class="text-2xl font-bold text-white mb-6 text-center drop-shadow">
            <span th:if="${categorie.id != null}">Modifier la categorie : <span th:text="${categorie.libelle}"></span></span>
            <span th:if="${categorie.id == null}">Ajouter une categorie</span>
        </h2>

        <form th:action="@{/ajout-categories}" th:object="${categorie}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="flex gap-2">
                <div class="flex-1">
                    <label for="nom" class="block text-gray-400 mb-1">Nom de la categorie :</label>
                    <input id="nom" type="text" th:field="*{libelle}" required class="w-full px-4 py-2.5 rounded-xl bg-[#101046]/80 text-white placeholder-white border border-white/20 focus:outline-none focus:ring-2 focus:ring-[#4934d3] focus:border-[#4934d3] transition duration-200">
                    <div th:if="${message}" class="text-red-600 mb-2 italic">
                        <p th:text="${message}"></p></div>
                </div>
            </div>

            <button type="submit" id="submitButton"
                    class="w-full mt-6 bg-btn text-white font-semibold py-2 px-4 rounded-md transition-colors shadow-md transform hover:bg-btn
           disabled:bg-gray-500 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-gray-500">
                <span th:text="${categorie.id != null} ? 'Modifier la catégorie' : 'Ajouter la catégorie'"></span>
            </button>
        </form>
    </div>

    <!-- ================= Liste des categories déja crées ============ -->

    <div class="w-[60%] bg-card-dark border border-card-principal p-8 rounded-xl" th:if="${categories != null}">

        <div th:if="${categories != null}">

            <h2 class="text-2xl font-bold text-white mb-6 text-center drop-shadow">Liste des catégories déja crées</h2>

            <div class="space-y-3 overflow-auto max-h-[400px] pr-3">
                <div th:each="categorie : ${categories}"
                     class="flex items-center justify-between bg-[#101046]/80 border border-white/20 rounded-xl px-4 py-3 shadow">

                    <span class="text-white font-medium" th:text="${categorie.libelle}"></span>

                    <div class="flex gap-2">
                        <a th:href="@{/modifier-categorie/{id}(id=${categorie.id})}"
                           class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded-md text-sm transition">
                            Modifier
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>