<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">

<body>

    <div layout:fragment="content" class="w-[35%] bg-card-dark border border-card-principal p-8 mt-9 rounded-xl shadow-[0_5px_30px_rgba(0,0,0,0.9)]">

        <!-- Titre -->
        <h2 class="text-2xl font-bold text-white mb-6 text-center drop-shadow">
            <span th:if="${articleForm.id != null}">Modifier l'article : <span th:text="${articleForm.nomArticle}"></span></span>
            <span th:if="${articleForm.id == null}">Ajouter un article</span>
        </h2>

        <form class="space-y-6" method="POST" enctype="multipart/form-data" th:action="@{/add-article}" th:object="${articleForm}">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{image}"/>

            <!-- ===================== Infos de l'article ===================== -->
            <h3 class="text-xl text-white font-semibold mb-3">Informations de l’article</h3>
            <div class="flex gap-2">
                <div class="flex-1">
                    <label for="nom" class="block text-white mb-1">Nom de l'article</label>
                    <input id="nom" type="text" th:field="*{nomArticle}" required
                           class="w-full px-4 py-2.5 rounded-xl bg-[#101046]/80 text-white placeholder-white border border-white/20 focus:outline-none focus:ring-2 focus:ring-[#4934d3] focus:border-[#4934d3] transition duration-200">
                </div>
                <div>
                    <label for="prixInitial" class="block text-white mb-1">Prix initial</label>
                    <input id="prixInitial" type="number" th:field="*{prixInitial}" required
                           class="w-full px-4 py-2.5 rounded-xl bg-[#101046]/80 text-white border border-white/20 focus:outline-none focus:ring-2 focus:ring-[#4934d3] focus:border-[#4934d3] transition duration-200">
                    <p class="text-gray-400 text-sm mt-1">En euros, montant minimum 1€</p>
                </div>

            </div>
            <div class="flex-1">
                <label for="categories" class="block text-white mb-1">Catégories</label>
                <select th:field="*{categoriesIds}" id="categories" multiple
                        class="choices w-full px-4 py-2.5 rounded-xl h-[46px] bg-[#101046]/80 text-white placeholder-white border border-white/20 focus:outline-none focus:ring-2 focus:ring-[#4934d3] focus:border-[#4934d3] transition duration-200">
                    <option th:each="categorie : ${categories}" th:value="${categorie.id}" th:text="${categorie.libelle}"></option>
                </select>
            </div>


            <!-- ===================== Description ===================== -->
            <h3 class="text-xl text-white font-semibold">Description</h3>
            <textarea id="description" th:field="*{description}" required
                      class="w-full px-4 py-2.5 rounded-xl bg-[#101046]/80 text-white placeholder-white border border-white/20 focus:outline-none focus:ring-2 focus:ring-[#4934d3] focus:border-[#4934d3] transition duration-200"></textarea>

            <!-- ===================== Dates ===================== -->
            <h3 class="text-xl text-white font-semibold">Dates</h3>
            <div class="flex flex-col">
            <div class="flex gap-2">
                <div class="flex-1">
                    <label class="block text-white mb-1">Date début</label>
                    <input type="datetime-local" name="dateDebut" id="dateDebut"
                           th:value="${#temporals.format(articleForm.dateDebut, 'yyyy-MM-dd''T''HH:mm')}" required
                           class="w-full px-4 py-2.5 rounded-xl bg-[#101046]/80 text-white border border-white/20 focus:outline-none focus:ring-2 focus:ring-[#4934d3] focus:border-[#4934d3] transition duration-200">
                </div>

                <div class="flex-1">
                    <label class="block text-white mb-1">Date fin</label>
                    <input type="datetime-local" name="dateFin" id="dateFin"
                           th:value="${#temporals.format(articleForm.dateFin, 'yyyy-MM-dd''T''HH:mm')}" required
                           class="w-full px-4 py-2.5 rounded-xl bg-[#101046]/80 text-white border border-white/20 focus:outline-none focus:ring-2 focus:ring-[#4934d3] focus:border-[#4934d3] transition duration-200">
                </div>
            </div>
            <div class="h-[24px]">
            <p id="errorMsg" class="text-red-600 text-xs"></p>
            </div>
            </div>

            <!-- ===================== Adresse ===================== -->
            <h3 class="text-xl text-white font-semibold">Adresse</h3>
            <div>
                <label class="block text-white mb-1">Recherche par rue</label>
                <input id="adresseProprietaire" type="text" placeholder="Ex : 10 rue de la Paix"
                       class="w-full px-4 py-2.5 rounded-xl bg-[#101046]/80 text-white border border-white/20 focus:outline-none focus:ring-2 focus:ring-[#4934d3] focus:border-[#4934d3] transition duration-200">
                <ul id="suggestionsList" class="bg-[#101046]/80 border border-white/20 rounded-xl mt-1 max-h-40 overflow-y-auto hidden"></ul>
                <p class="text-red-500 text-sm mt-1 h-[25px]" id="adresseHelp" hidden>Tapez un nom de rue pour obtenir des suggestions précises.</p>
                <div class="flex flex-col mt-2">
                    <span>Adresse sélectionnée :</span>
                    <input th:field="*{adresseString}" id="adresseSelected" name="adresseSelected" type="text" readonly
                           class="w-full px-4 py-2.5 rounded-xl bg-transparent text-white border border-white/20 mt-1"
                           placeholder="Adresse sélectionnée">
                </div>
            </div>

            <!-- ===================== Image ===================== -->
            <h3 class="text-xl text-white font-semibold mb-2">Image</h3>
            <div class="flex gap-4 items-start">
                <!-- Input file -->
                <div class="flex-1 flex flex-col">
                    <input type="file" th:field="*{imageFile}" id="imageFile" accept="image/*"
                           class="w-full px-4 py-2.5 rounded-lg bg-[#101046]/80 text-white placeholder-white
                      border border-white/20 focus:outline-none focus:ring-2 focus:ring-[#4934d3] focus:border-[#4934d3] transition duration-200">
                    <p class="text-gray-400 text-sm mt-1">Format : JPG/PNG, max 5Mo</p>
                    <ul th:if="${#fields.hasErrors('imageFile')}" class="mt-1">
                        <li class="text-red-500 italic" th:each="error: ${#fields.errors('imageFile')}" th:text="${error}"></li>
                    </ul>
                </div>

                <!-- Preview -->
                <div id="imagePreviewContainer"
                     class="w-[140px] h-[140px] flex items-center justify-center bg-[#101046]/30 rounded-lg border border-white/20 overflow-hidden">
                    <img id="imageForm" th:if="${articleForm.image}" th:src="@{/images/{img}(img=${articleForm.image})}"
                         alt="Image article" class="w-11/12 h-full object-contain"/>
                </div>
            </div>

            <!-- ===================== Bouton ===================== -->
            <button type="submit" id="submitButton"
                    class="w-full mt-6 bg-btn text-white font-semibold py-2 px-4 rounded-md transition-colors shadow-md transform hover:bg-btn
           disabled:bg-gray-500 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-gray-500">
                <span th:text="${articleForm.id != null} ? 'Modifier l’article' : 'Ajouter l’article'"></span>
            </button>
        </form>

        <script th:src="@{/js/ajout-article.js}" defer></script>

    <script th:src="@{/js/ajout-article.js}" defer></script>
</div>
</body>
</html>